.quote-wrapper {

  .quote-bracket {
    width: 1.5rem;
    display: block;
    margin: 2.2rem auto 1.3rem auto;
  }

  blockquote {
    @extend .cursive;
    @extend .quote;
    line-height: 1.33333;
    text-align: center;
  }

  .quote-info {
    text-align: center;
    span {
      display: block;
      @extend .mb-2;
    }
  }
}
