.comelit-integration-logo {
  margin-top: 52px !important;
  margin-bottom: 54px !important;
}

.card-icon {
  display: flex;
  margin-bottom: 20px;
  
  .card-wrapper {
    border: 1px solid $secundaryGrey;
    padding: 1rem 1.4rem;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  .fixed-height-content {
    min-height: 16rem;
  }

  .partners {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .button {
    @extend .pt-3;
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  .bordered {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid $secundaryGrey;
  }

  .icon {
    text-align: center;
    padding: 2rem 0 3rem 0;
    border-bottom: 1px solid $secundaryGrey;
    margin-bottom: 1.5rem;

    i {
      font-size: 3rem;
    }
  }

  // No better way to align it
  .gsa-logo {
    transform: translateY(-4px);
  }
}
