.content-item {
  display: flex;
  position: relative;
  padding-bottom: 130px;
  margin-top: 130px;
  @media all and (max-width: 768px){
    padding-bottom: 60px;
    margin-top: 60px;
  }
  .customers-logos {
    @media all and (max-width: 374px) {
      img {
        margin-left: 22px;
        margin-bottom: 30px;
      }
    }
    @media all and (min-width: 375px) and (max-width: 768px) {
      img {
        margin-left: 50px;
        margin-bottom: 30px;
      }
    }
  }

  .img-composition {
    @media all and (max-width: 991px) {
      img {
        display: none;
      }
    }
    @media all and (min-width: 992px) {
      .img-1 {
        max-width: 100%;
        height: auto;
      }
      .img-2 {
        margin-left: 12rem;
        position: absolute;
        z-index: 1;
      }
      .img-3 {
        z-index: 2;
        margin-left: 24rem;
        position: relative;
        margin-top: 9rem;
      }
    }
  }
  .img-composition-2 {
    @media all and (min-width: 992px) {
      margin-left: 100px;
    }
  }
  .neg-top-60x {
    @media all and (min-width: 992px) {
      margin-top: -60px;
    }
  }

  // Content line
  &::after {
    position: absolute;
    content: ' ';
    border-bottom: 1px solid $secundaryGrey;
    width: 270px;
    bottom: 0;
    left: 50%;
    margin-left: -135px;
  }

  // Remove the content line from the hero, and the last item
  &.hero-clip, &:last-of-type, &.no-border {
    &::after {
      content: none;
    }
  }

  &.pull-up {
    margin-top: 70px;
  }
  &.large-separator::after {
    width: 950px;
    left: 50%;
    margin-left: -475px;
  }
  &.no-break::after {
    display: none;
  }
  &.no-bottom-space {
    padding-bottom: 20px;
  }
  &.no-top-space {
    margin-top: 20px;
  }
  &.no-space {
    padding-bottom: 20px;
    margin-top: 20px;
  }
  &.no-margin-bottom {
    margin-bottom: 20px;
  }
}

img.go-back {
  max-width: 100%;
  z-index: -1;
  margin: auto;
  top: 0px;
  bottom: 0px;
  &.no-top {
    @media all and (max-width: 440px) {
      top: -20px;
    }
  }
  &.left  {
    left: 15px;
    @media all and (max-width: 991px) {
      left: 0;
    }
  }
  &.right {
    right: 15px;
    @media all and (max-width: 991px) {
      right: 0;
    }
  }
}

@include media-breakpoint-up(md){
  img.go-back-md {
    position: absolute;
    max-width: none;
  }
}

@include media-breakpoint-up(lg){
  img.go-back-lg {
    position: absolute;
    max-width: none;
  }
}

.grey-background {
  background-color: #f7f7f7;
}

.site-content {
  margin-top: -120px;
  padding-top: 120px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.container {
    @media all and (max-width: 991px) {
        padding-left: 30px!important;
        padding-right: 30px!important;
    }
}
