footer {
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;

  a, p, p.small {
    color: $footerLightGray;
    font-size: $size-small;
    line-height: 30px;
  }

  a:hover {
    color: darken($footerLightGray, 10);
  }

  @include media-breakpoint-up(xs) {
    margin-top: 0px;
    padding-top: 70px;
  }

  @include media-breakpoint-up(sm) {
    margin-top: -30px;
    padding-top: 130px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 0px;
    padding-top: 100px;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 230px;
    margin-top: -65px;
  }
}
