// Contact Form

.wpcf7-not-valid {
  border-color: $errorRed;
}

.custom-checkboxes {
  display: flex;
  flex-direction: column;

  .wpcf7-list-item-label {
    color: #808080;
    margin-left: 0.3rem;
  }

  input {
    font-size: 18px;
  }

  input:checked + .wpcf7-list-item-label {
    color: $semiBlack;
  }

  label:hover {
    .wpcf7-list-item-label {
      color: $semiBlack;
    }
  }

  .wpcf7-list-item {
    margin: .25rem 0;
  }
}

.wpcf7 {
  width: 100%;
  p:not(.sub-title) {
    margin: 0;
    margin-bottom: 1.2rem;
    line-height: 20px;
    font-size: 14px;
  }
  .sub-title {
    @extend .mb-4;
  }
  &-form-control-wrap {
    display: block;
    margin-top: 3px;
  }

  .country.highlight {
    margin-top: 0 !important;
    padding-bottom: 0 !important;
  }

  label {
    font-family: $font-normal;
    font-size: 14px;
    margin: 0;
    width: 100%;
    * {
      visibility: visible;
    }
  }
  .form-input {
    padding: 0.719rem;
    margin-top: 3px;

    &:focus {
      border-color: $primaryBlue;
    }
  }
  .wpcf7-not-valid-tip {
    font-size: 12px;
  }
  .singleNumber {
    width: 40px;
    font-size: $size-base;
    display: inline;
    margin-right: 1rem;
    padding:0;
  }
  label.dropdown {
    select {
      @extend .form-input;
      width: 100%;
      background: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      &:hover {
        cursor: pointer;
      }
    }
    span::after {
      @extend .fa;
      content: "\f078";
      font-size: 11px;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      pointer-events: none;
    }
  }
  .intl-tel-input {
    width: 100%;
    .iti-arrow {
      display: none;
    }
  }
  // hide the input to show only the label
  input[type="file"] {
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  .form-separator {
    height: 1px;
    background-color: $darkGrey;
  }

  textarea {
    width: 100%;
  }

}

.form-input,
.form-control {
  width: 100%;
  border: 1px solid #CACACA;
  border-radius: 2px;
  font-family: $font-normal;
  font-size: 14px;
  &::placeholder {
    color: $darkGrey;
  }
}
