.hero {
  position: absolute;
  z-index: -1;
  top: -100px;
  left: -100px;
  right: -100px;
  transform: rotate(-5deg);
  background: $lightGrey;

  &.blue {
    background: $primaryBlue;
  }
  &.gradient {
    background: $heroGradient;
  }
  &.lighterblue {
    background-color: $lighterBlue;
  }
  &.clay-color {
    background: $clay;
  }


  &.big-hero {
    height: 800px;
  }
  &.medium-hero {
    height: 670px;
    &.blue {
      background: $primaryBlue;
    }
    &.green {
      background: $lightGreen;
    }
    &.gradient {
      background: $heroGradient;
    }
    @media all and (max-width: 575px) {
      height: 695px;
    }
    + .hero-clip {
      @media all and (max-width: 575px) {
        height: 675px;
      }
    }
  }
  &.small-hero {
    height: 550px;
  }
  &.responsive-hero {
    @media all and (max-width: 575px) {
      height: 845px;
    }
    @media all and (min-width: 576px) and (max-width: 768px) {
      height: 800px;
    }
    + .hero-clip {
      @media all and (max-width: 575px) {
        height: 824px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      @media all and (min-width: 576px) and (max-width: 768px) {
        height: 780px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.footer-hero {
  position: absolute;
  z-index: -1;
  bottom: -300px;
  left: -100px;
  right: -100px;
  height: 870px;
  background: $footerBg;
  transform: rotate(-5deg);
  @media all and (max-width: 320px) {
    height: 1290px;
  }
  @media all and (min-width: 321px) and (max-width: 767px) {
    height: 1170px;
  }
  @media all and (min-width: 768px) and (max-width: 992px) {
    height: 1070px;
  }
}

.hero-clip {
  overflow: hidden;
  height: 650px;

  margin-left: -100px;
  padding-left: 85px;

  margin-right: -100px;
  padding-right: 85px;

  margin-top: -200px !important; // no easy fix
  padding-top: 200px !important; // no easy fix

  transform: rotate(-5deg);
  & > div {
    transform: rotate(5deg);
  }
  &.small-clip {
    height: 531px;
  }
  &.big {
    height: 630px;
  }

  @include media-breakpoint-down(sm){
    &.no-image {
      margin-bottom: 0;
    }
  }
}
