.image-grid {

  // Compensate for the col padding
  .row {
    margin-left: -1.6rem;
    margin-right: -1.6rem;
  }

  .col {
    min-width: 190px;
    padding: 1.6rem;
  }

  @include media-breakpoint-up(sm) {
    .col {
      max-width: 50%
    }
  }

  @include media-breakpoint-up(md) {
    .col {
      max-width: 33.333%;
    }
  }

  @include media-breakpoint-up(lg) {
    .col {
      max-width: 25%;
    }
  }

  @include media-breakpoint-up(xl) {
    .col {
      max-width: 20%;
    }
  }

  .inner-wrapper {
    border-radius: 5px;
    border: 1px solid $secundaryGrey;
    padding: .5rem 0;
    height: 100%;
  }

  .grid-image {
    height: 7.376rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    @extend .text-grey;
    @extend .small;
    display: block;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: auto;
  }
}