h2 > label.label {
  font-size: $size-xsmall;
  border: 1px solid;
  border-radius: 20px;
  padding: 5px 10px 7px 10px;
  margin: 0px;
  vertical-align: middle;
  &.label-red {
    @extend .text-red;
    border-color: $errorRed;
  }
}
