.language-menu {
  position: relative;
  .pll-parent-menu-item a {
    @extend .btn;
    @extend .btn-secondary;
    text-transform: none;
    font-size: 12px;
    width: 100%;
    max-width: 120px;
    overflow: hidden;
    padding: 10px;
    border: none;
    font-family: $font-normal;
    &:focus {
      box-shadow: none;
      border: none;
    }
  }
  .pll-parent-menu-item > a:before {
    @extend .fa;
    @extend .mr-1;
    content: "\F024";
  }
  .sub-menu {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    bottom: 38px;
    left: 0px;
    width: 100%;
    a {
      border-radius: 0px;
      width: 100%;
      &:focus {
        box-shadow: none;
        border: none;
      }
    }

    li.current-lang > a {
      background: darken(#434F57, 5);
      border: darken(#434F57, 5);
    }

    li:first-child a {
      border-radius: 5px 5px 0px 0px;
    }
  }

  &.open {
    .pll-parent-menu-item > a {
      border-radius:  0px 0px 5px 5px;
    }
    .sub-menu{
      visibility: visible;
      opacity: 1;
      display: inline-block;
    }
  }
}
