div.map-section {
  .info-box {
    box-shadow: $shadowBox-normal;
    background: $white;
    position: absolute;
    left: 25px;
    top: 60px;
    z-index: 1;
    min-width: 300px;
    padding: 20px;
    display: none;
    &.show {
      display: inline-block;
    }
    p {
      line-height: 20px;
      margin: 0px;
    }
    .close {
      font-size: 20px;
    }
  }

  .map-search {
    box-shadow: $shadowBox-normal;
    background: $white;
    border: none;
    margin: 10px;
    width: 300px;
    @include media-breakpoint-down(xs) {
      width: 170px;
    }
  }

  .pin-cluster {
    @extend .animate-all;
    position: absolute;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    color: $primaryBlue;
    background: $white;
    font-weight: 600;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
  }
  .pin-cluster:hover {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
  }

}
