@include media-breakpoint-down(md) {
  .navbar-toggler {
    border: 0!important;
    z-index: 1;
  }
  .navbar-collapse {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 30px 40px;
    background: rgb(247, 247, 247);
    position: absolute;
    width: 100%;
    top: 100px;
    left: 0px;
    > ul {
      margin: 0px 30px 10px 30px;
      .menu-elem {
        width: 100%;
        height: auto;
        text-align: left;
        a {
          line-height: 40px;
          display: block;
          border-bottom: 1px solid $mobileMenuSeparatorColor;
          padding: 0px;
        }
        &.current-menu-item a, &.current-menu-parent > a {
          color: $primaryBlue;
        }

        &:last-child a {
          border-bottom: none;
        }
        .sub-menu {
          position: relative;
          visibility: visible;
          opacity: 1;
          box-shadow: none;
          background: inherit;
          width: 100%;
          margin: 0px;
          left: 10px;
          padding-right: 10px !important;
          li.menu-item {
            padding: 0px;
            border: none;
            a {
              color: $semiBlack;
              line-height: 40px;
            }
            &:last-child {
              border-bottom: none;
            }
            &.current-menu-item a {
              color: $primaryBlue;
            }
          }
          &:before {
            display: none;
            position: relative;
          }
        }
      }
      li.icon-before {
        &:before {
          position: absolute;
          top: 15px;
        }
        a {
          padding-left: 15px;
        }
      }
    }
  }

  .back-button {
    margin-right: 0px;
  }
}