.section-modal {
  @extend .modal-lg;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &.hide {
    display: none;
  }

  .inner-wrapper {
    position: relative;
    max-height: 85vh;
    overflow-y: auto;
    background: #fff;
    position: relative;
    padding: 3.4rem 3rem;
    box-shadow: 0px 7px 14px 2px rgba(0,0,0,0.2);
  }

  .close {
    z-index: 1;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    span {
      font-size: 2rem;
    }
  }

}
