a.video-player {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img.center-play {
    position: absolute;
    @extend .animate-all;
  }

  &:hover img.center-play {
    @extend .circle;
    box-shadow: $shadowBox-hover;
    transform: translateY(-2px);
  }
}
