.post-detail-intro {
  position: relative;
  margin-top: -120px;
  display: flex;
  align-items: center;
  .post-detail-intro-image {
    position: relative;
    max-height: 600px;
    @include media-breakpoint-only(md) {
      height: 300px;
    }
    img {
      max-height: 600px;
      @include media-breakpoint-only(md) {
        height: 300px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $semiBlack;
      opacity: 0.2;
    }
  }
  .post-detail-intro-content {
    position: absolute;
    display: flex;
    text-align: center;
    > div {
      display: flex;
      flex-direction: column;
    }
    .category-label {
      color: $white;
      margin-bottom: 0;
    }
    .title {
      color: $white;
    }
  }
}

.post-detail-body-content {
  margin-top: 100px;

  .content-body {
    // Keep the structure change backwards-compatible, so we don't have to change html in all the blog-posts
    .col-lg-6 {
      max-width: 100%;
      margin: 0;
      flex: 1;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  ul {
    list-style: initial;
    margin-left: 20px;
    @extend .text-blue;
    li {
      padding: 5px;
      @extend .mt-3;
      span {
        @extend .text-black;
      }
    }
  }
}
