.main-post {
    height: 400px;
    @include media-breakpoint-down(md) {
        height: auto;
    }
    transition: all ease 0.5s;
    &:hover {
        .main-post-background-img {
            transform: scale(1.1);
        }
        img {
            transform: scale(1.1);
        }
    }
    .main-post-img-container {
        img {
            transition: all ease 0.5s;
        }
        overflow: hidden;
        width: 67%;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        @include media-breakpoint-up(md) {
            width: 50%;
        }
        @include media-breakpoint-up(lg) {
            width: 67%;
        }
        
    }
    .main-post-background-img {
        transition: all ease 0.5s;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @include media-breakpoint-up(lg) {background-position: right;}
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main-post-content {
        display: flex;
        flex-direction: column;
        background-color: white;
        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 15px 30px 30px 30px;
        }
        @include media-breakpoint-up(md) {
            width: 50%;
            padding: 25px 0px 0px 30px;
        }
        @include media-breakpoint-up(lg) {
            width: 35%;
            padding: 100px 0px 0px 30px;
        }
    }
}
.post-container {
    transition: all ease 0.2s;
    &:hover {
        img {
            transform: scale(1.1);
        }
    }
    .post-image-container {
        overflow: hidden;
        img {
            transition: all ease 0.5s;
        }
    }
    .post-text-container {
        padding: 15px 30px 30px 30px;
        background-color: white;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        > a {
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}
