.page-template-page-developers {
  .site-header {
    margin-bottom: 0;
  }

  .page-footer {
    .footer-hero {
      transform: none;  
    }
    padding-top: 13px;

    @include media-breakpoint-up(sm){
      padding-top: 115px;
    }
    
    @include media-breakpoint-up(md){
      padding-top: 55px;
    }

    @include media-breakpoint-up(lg){
      padding-top: 100px;
    }
  }
}

.developers {
  .hide {
    display: none;
  }
  .show {
    @extend .d-block;
  }
  .head {
    height: 90px;
    h6 {
      line-height: 90px;
      font-size: 16px;
      vertical-align: middle;
    }
    a.link {
      vertical-align: middle;
      color: $primaryBlue;
      &:hover, &:active, &:focus {
        color: darken($primaryBlue, 10);
      }
    }
  }

  @media (max-width: 990px){
    .row {
        margin-left: 0;
        margin-right: 0;
    }
  }
  
  .content {
    padding: 22px 30px;
  }

  .dev-gray-headline {
    font-weight: 600;
    color: $primaryBlue;
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
  }

  .dev-content {
    background: $lighterBlue;
    @media (min-width: 768px) {
      display: flex;
    }
  }

  .developers-menu {
    padding: 15px;
    border-top: 1px solid darken($lighterBlue, 8%);
    overflow: hidden;
    margin-left: 15px;
    &:first-child {
      border-top:0;
    }
    h4 {
      margin: 10px 0px 10px 0px;
    }

    @media (min-width: 768px) {
      padding: 15px 0px;
      h4 { padding-left:15px; }
    }

    > ul {
      width: 100%;
      display: block;
      padding: 0 15px;

      &.list-decimal li {
        list-style: decimal inside;
        display: list-item;
      }

      > li {
        width: 100%;
        display: block;
        color: $primaryBlue;
        font-weight: bold;
        position: relative;
        &:last-child {
          border-bottom: none;
        }
        > .expand {
          font-size: 18px;
          height: 22px;
          width: 22px;
          line-height: 19px;
          text-align: center;
          position: absolute;
          right: 5px;
          top: 0;
          cursor: pointer;
        }
        > a, > .expand {
          margin: 6px 0px;
          letter-spacing: 0.8px;
          font-weight: bold;
          display: inline-block;
          &:hover {
            color: #0d1333;
          }
        }
        &.current-menu-item , &.current-menu-parent {
          > a, > .expand{
            color: #0d1333;
          }
        }
        &.contracted ul.sub-menu {
          display: none;
        }
        ul {
          list-style: none;
          padding: 0px 0 0 20px;
          margin-top: 10px;
        }

        ul.sub-menu {
          span.description {
            margin-left: 10px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 11px;
          }

          > li.changed span.description {
            color: $errorRed;
          }

          > li.updated span.description {
            color: green;
          }
        }
      }
      ul.sub-menu li {
        margin: 10px 0px;
        a {
         font-size: 14px;
         line-height: 14px;
         letter-spacing: 0px;
         font-weight: 300;
        }
      }
    }
    li.current-menu-item > a {
      color: #0d1333;
    }
    a {
      color: $almostBlack;
      padding: 0px;
      margin: 0px;
      font-size: 14px;
      &:hover, &:active, &:focus {
        background: none;
        color: #0d1333;
      }
    }
  }
  
  pre.code {
    padding: 30px;
    border-radius: 5px;
  }
  .code {
    background: darken($lighterBlue, 80%);
    color: $white;
    pre {
      color: $white;
      line-height: 25px;
      margin: 0 0 0 70px;
      padding: 18px 18px 150px 15px;
      font-size: 13px;
      overflow:visible;
      > span {
        position: relative;
        color: #0ee678;
      }
    }
    .line-numbers {
      display: inline-block;
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      bottom: 0px;
      max-width: 70px;
      background: darken($lighterBlue, 82%);
      pre {
        position: absolute;
        overflow: hidden;
        color: #5c6a7d;
        top: 80px;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        background: none;
        padding: 0px;
        margin: 0px;
      }
    }

    .tab-header {
      position: relative;
      padding-left: 80px;
      padding-top: 10px;
    }
    .btn {
      z-index: 1;
    }
  }

  .box-light-gray {
    background: lighten($lighterBlue, 4%);
    color: #0d1333;
    min-height: 900px;
    h1, h3, p > a {
        color: $primaryBlue;
    }
    h4 {
      text-transform: uppercase;
    }
    h1 {
      margin: 0px 0 10px 0;
      font-size: 32px;
    }
    ul.content-list {
      color: $primaryBlue;
      > li p {
        color: #0d1333;
      }
    }

    p > a:hover, p > a:focus {
      color: darken($primaryBlue, 10);
    }
  }

  div.title-decimal, div.title-alpha {
    overflow: hidden;
    p {
      display: none;
    }
    span.decimal, span.alpha {
      float: left;
    }
    h4, h5 {
      float: left;
      margin-top: 0;
      width: 90%;
      text-transform: none;
    }
  }

  div.title-decimal {
    h4 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
      @extend .text-dark;
    }
    span.decimal {
      margin-right: 20px;
      border-radius: 100%;
      background-color: $primaryBlue;
      color: white;
      text-align:center;
      height: 21px;
      width: 21px;
      line-height: 21px;
      padding-left: 1px;
      display: inline-block;
    }
  }

  div.title-alpha {
    h5 {
      font-size: 16px;
      line-height: 1.4;
      margin: 0;
      font-weight: 400;
    }
    > span {
      color: $primaryBlue;
      width: 21px;
      text-align:center;
      margin-right: 20px;
      text-transform: uppercase;
      display: inline-block;
    }
  }

  .border-dark-blue {
    border:2px solid $primaryBlue;
  }

  span.dev-code-white {
    display: inline-block;
    background-color:white;
    color: $primaryBlue;
    padding:0 5px;
    font-size: 13px;
    line-height: 25px;
    text-transform: none;
    font-weight: 200;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    &.big {
      display: block;
      padding: 16px;
      max-width: 664px;
      font-size: 13px;
      border-radius: 8px;
      word-wrap: break-word;
      @media (min-width: 768px) {
        padding: 16px 20px 20px 40px;
      }

    }
  }

  div.dev-legend {
    table {
      width: 100%;
      max-width: 660px;
      tbody {
        border-top: 1px solid #e6ebf7;
      }

      thead tr {
        border:none;
      }
      tr {
        border-bottom: 1px solid #E6EBF7;
        td {
          padding: 8px 26px 8px 0;
          vertical-align: top;
          font-size: 16px;
          &:first-child {
            width: 150px;
          }
        }
      }
    }
  }

  div.dev-pagination {
    margin: 50px 0;
  }

  .title-bold {
    font-size: 15px;
    font-weight: bold;
    @extend .text-dark;
    text-transform: inherit;
  }


  div.dev-msdk-header-switch {
    span {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
    a {
      color: #B0C0D4;
      font-size: 14px;
      font-weight: 500;
      &.active, &:hover {
        color: $primaryBlue;
      }
    }
  }

  div.dev-msdk-content-holder {
    > div {
      display: none;
    }
  }

  div.dev-method {
    background-color: #ccc;
    border-radius:8px 8px 8px 0;
    color: white;
    padding: 10px 20px;
    position:relative;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 12px;
    letter-spacing: 1.2px;
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom:-12px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 12px 12px 0 0;
      border-color: #ccc transparent transparent transparent;
    }
  }

  div.alert-info {
    background-color:#E2E8F6;
    border-color:#E2E8F6;
    color: #0D1333;
    i {
      color: #4B6CB7;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

// Tooltip
.tooltip {
  top: 20px;
  left: 0px;
  opacity: 1;
  min-width: 350px;
  background: #f8f8fb;
  padding: 10px 20px;
  border-radius: 5px;
  h6, p, span {
    color: #0a1443;
    font-size: 16px;
    line-height: 20px;
    margin: 10px 0px;
  }
  h6 {
    font-family: Menlo,Monaco,Consolas,Courier New,monospace;
    color: #0ee678;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
  }
  span {
    font-size: 13px;
  }
}
