.content-item.contact {
  margin-top: 70px;
}


.shadowBox-solutions {
  width: 100%;
  box-shadow: $shadowBox-solutions;
  img {
    float: right;
  }
  > div {
    padding: 20px 20px 0px 20px;
  }
}

@media all and (max-width: 576px) {
  a.video-player {
    margin-top: -40px;
    margin-bottom: -20px !important;
  }
}

.page-solutions,
.page-events {
  background: $lightGrey;
}

.story-block {
  background: $white;
  @extend .mb-5;

  > *:not(.image){
    padding: 1rem 1.5rem;
    margin: 0;
  }

  h6.story-title {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  .image {
    height: 200px;
    background-position: center;
    background-size: cover;
  }
}