// Styles for the story details page, which is mainly based on the blog-detail

.story-detail-intro {
  @extend .post-detail-intro;

  .intro {
    color: $white;
  }
  .post-detail-intro-image {
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
      max-height: none;
    }
  }
}

.story-detail-body-content {
  @extend .post-detail-body-content;

  h3 {
    &:before {
      content: none;
    }
  }

  img {
    margin: unset;
  }

  blockquote {
    margin: 0 -4.5rem;
  }
}
