.support-section {
  @extend .my-4;
  padding: 2rem 0;
  border-bottom: 1px solid $secundaryGrey;
  .category-title {
    color: $lightBlue;
    text-transform: uppercase;
    font-family: 'RobotoRegular';
    @include media-breakpoint-up(lg){
      max-width: 170px;
    }
  }
}
.support-sections {
  .section {
    display: flex;
    align-items: flex-start;
    h4 {
      color: $primaryBlue;
    }
    .icon {
      min-width: 40px;
      margin-top: 5px;
      display: block;
      text-align: center;
      margin-right: 15px;
    }
  }
}
.answer-search-button {
  background: none;
  border: none;
  i {
    color: $primaryBlue;
    transition: color .2s ease-in-out;
  }
  &:hover i {
    color: $semiBlack;
  }
}
.answer-container {
  @extend .mb-4;

  .answer-title {
    color: $primaryBlue;
    transition: color .2s ease-in-out;
  }

  .fa-chevron-down {
    transition: transform .2s ease-in-out;
    transform: translateY(3px) rotate(180deg);
  }
  > a {
    display: flex;
    align-items: flex-start;
  }
  .collapsed {
    .answer-title {
      color: $semiBlack;
    }
    .fa-chevron-down {
      transform: rotate(0) translateY(3px);
    }
  }
  .answer-content {
    .inner-wrapper {
      padding: .5rem 2rem 1rem 2rem;
    }

    * {
      font-size: 14px;
    }
  }
}