// Team and Careers page styling

.milestones-wrapper {
  margin: 130px -30px;
  @extend .py-5;

  &.bg-grey {
    background: $lightGrey;
  }

  .milestones-inner {
    display: flex;
    flex-grow: 1;
    overflow-x: scroll;

    // Hide the scrollbar
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent; /* Chrome/Safari/Webkit */
    }

  }
  .scroll-icon {
    flex-shrink: 0;
    @extend .pt-2;
    margin-left: 30px;
    margin-top: 7rem;
    .scroll-icon {
      margin-top: calc(350px + 3rem); // Image height + margin-bottom
    }

    img {
      width: 59px;
      height: 34px;
      display: block;
    }
  }
  .milestone {
    width: 370px;
    flex-shrink: 0;
    padding: 0 25px;
    display: flex;
    flex-direction: column;

    .image {
      height: 350px;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @extend .mb-5;
      img {
        max-height: 100%;
      }
    }
  }

  // Responsive milestones margins to make the row inside the container full-width
  // Subtract the container width from the view-port width. This is the spacing on both sides.
  // Divide it on half to get each side, subtract/add different paddings or extra spaces
  @function fullWidthOffest($containerWidth, $viewportWidth: "100vw", $extraSpace: "0px") {
    $size: calc(((#{$containerWidth} - #{$viewportWidth}) / 2) - 15px + #{$extraSpace});
    @return $size;
  }
  
  // Makes the content inside the full-width rows align to the grid
  @function fullWidthMargin($containerWidth, $viewportWidth: "100vw", $extraSpace: "0px"){
    $size: calc(((#{$viewportWidth} - #{$containerWidth}) / 2) - 15px + #{$extraSpace});
    @return $size;
  }

  // Add some white space in the end
  .milestone:last-child {
    width: 460px;
    padding-right: 90px;
  }
  
  // Breakpoints for different container sizes
  @include media-breakpoint-up(sm){
    margin: 130px fullWidthOffest('510px');
    // Add some white space in the end
    .milestone:last-child {
      width: 500px;
      padding-right: 130px;
    }
  }
  @include media-breakpoint-up(md){
    margin: 130px fullWidthOffest('690px');
    .scroll-icon {
      margin-left: fullWidthMargin('690px', '100vw', '8.3333%')
    }
    // Add some white space in the end
    .milestone:last-child {
      width: 600px;
      padding-right: 230px;
    }
  }
  @include media-breakpoint-up(lg){
   margin: 130px fullWidthOffest('960px');
   .scroll-icon {
      margin-left: fullWidthMargin('960px', '100vw', '8.3333%')
    }
    // Add some white space in the end
    .milestone:last-child {
      width: 740px;
      padding-right: 370px;
    }
  }
  @include media-breakpoint-up(xl){
    margin: 130px fullWidthOffest('1140px');
    .scroll-icon {
      margin-left: fullWidthMargin('1140px', '100vw', '8.3333%')
    }
  }
}

.vacancies-list {
  box-shadow: 0 2px 10px 0 rgba(13, 19, 51, 0.1);

  li {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.9rem;
    border-bottom: 1px solid rgba(176, 192, 212, .3);

    div {
      display: flex;
      align-items: center;
      white-space: nowrap;
      span {
        min-width: 20rem;
      }
      p {
        @extend .small;
        margin: 0;
        color: $vacanciesGrey;
      }
    }

    @include media-breakpoint-down(md){
      div {
        align-items: flex-start;
        flex-direction: column;
      }
    }

    .info {
      margin-right: 0;
      margin-left: auto;
    }

  }
}