*, .form-input, .form-control, button{
  &:focus {
    outline: none !important;
    border-color: inherit;
    box-shadow: inherit;
  }
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

.btn.btn-primary, .btn.btn-secondary {
  border: none !important;
  &:focus, &:active, &:active:focus {
    box-shadow: none !important;
  }
}
nav.navbar.bg-light {
  background-color: inherit !important;
}