
// TODO: include other font's formats

// General
body {
  font-family: $font-normal;
}

// Colors
.text-blue {
  color: $primaryBlue;
}
.text-light-blue {
  color: $lightBlue;
}
.text-black {
  color: $semiBlack;
}
.text-grey {
  color: $darkGrey;
}
.text-white {
  color: $white;
}
.text-red {
  color: $errorRed;
}
.text-green {
  color: $green;
}
.text-dark-grey { 
  color: $almostBlack;
}
// Font weight and style
.strong,
strong {
  font-weight: 700;
}
.cursive {
  // Need to review if this breaks anything
  // font-style: italic;
  font-style: italic
}

//Font size
.small,
small {
  font-size: $size-small;
}
.xsmall {
  font-size: $size-xsmall;
}
.intro {
  font-size: $size-intro;
}
.quote {
  font-size: $size-quote;
}

//Text transform
.uppercase {
  text-transform: uppercase;
}

// Headings
h1,
h2,
h3 {
  @extend .text-blue;
}
h3,
h4 {
  @extend .strong;
}
h4,
h5 {
  @extend .text-black;
}
h1 {
  font-size: $size-h1;
}
h2 {
  font-size: $size-h2;
}
h3 {
  @extend .uppercase;
  font-size: $size-h3;
  letter-spacing: 1.8px;
  line-height: 20px;
  &:not(.no-decoration):before {
    content: "\\ ";
  }
}
h4 {
  font-size: $size-h4;
}
h5 {
  font-size: $size-h5;
}

// Paragraphs
p {
  font-size: $size-base;
  line-height: 30px;
  @extend .text-black;
  &.small {
    line-height: 25px;
  }
  &.red {
    @extend .text-red;
  }
}

// Anchors
a {
  @extend .text-blue;
  cursor: pointer;
  transition: transform 0.1s ease;
  &:hover {
    text-decoration: none;
    @extend .text-black;
  }
  &.info {
    @extend .text-black;
    i.fa {
      font-size: $size-xsmall;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -3px;
    }
    &:hover {
      @extend .text-blue;
      transform: translateX(2px);
    }
  }
}
