.hidden {
    display: none!important;
}
.circle {
  border-radius: 100%;
}
.animate-all {
  transition: all 0.2s ease;
}

.reflect {
  transform: rotate(180deg);
}

.gradient-overlay-top {
  @include overlay(top);
}

.gradient-overlay-bottom {
  @include overlay(bottom);
}

// Hide captcha badge
.grecaptcha-badge {
  display: none !important;
}